body {
    margin: 0;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('Image/cover.png');
    height: 100vh;
    position: relative;
}

.nav {
    height: 7vh;
    background-color: teal;
    display: grid;
    grid-template-columns: 10% auto 20%;
}

.logo {
    margin-left: 1%;
    height: 7vh;
    text-align: center;
}

.navinfo {
    margin-right: 1%;
    display: flex;
    gap: 2rem;
    align-items: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-weight: 500;
    color: white;
}

.dropbtn {

    margin-top: 2%;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 7vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.categ {
    position: absolute;
    background-color: #436b8d;
    width: 100%;
    height: 10vh;
    z-index: 100;
    bottom: 0px;
}

.items {
    height: 300vh;
}